@import 'src/style/vars';
@import 'src/style/mixins';

#Landing_page {
	background-color: $dark;
	min-height: 100vh;
	position: relative;
}

.Landing_page__background {
	background-image: url('/mac-16-9.png');
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.Landing_page__header {
	margin: 0px !important;
	text-align: center;
	color: $gold-light !important;
	span {
		writing-mode: vertical-rl;
		text-orientation: upright;
	}
}

.Landing_page__header--second {
	transform: translate(0px, 9.75rem);
}

.Landing_page__logo {
	margin: auto;
	margin-top: 15rem;
}
