@import 'src/style/vars';
@import 'src/style/mixins';

#Landing_page {
	background-color: $dark;
	min-height: 100vh;
	position: relative;
}

.Landing_page__background {
	background-image: url('/mac-16-9.png');
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	text-align: center;
}

.Landing_page__header {
	font-size: 1.4rem !important;
	margin: 0px !important;
	text-align: center;
	color: $gold-light !important;
	transform: translateY(5rem);

	span {
		writing-mode: vertical-rl;
		text-orientation: upright;
	}

	// @include for-size(phone) {
	// 	transform: translateY(2rem);
	// }
}

.Landing_page__header--second {
	transform: translate(0px, 6.65rem);
}

.Landing_page__logo {
	margin: auto;
	margin-top: 25rem;
	width: 430px;
	max-width: 430px;

	@include for-size(phone) {
		margin-top: 18rem;
		width: 100%;
	}
}
